{%- if page.key and
  site.comments.disqus.shortname -%}

<div id="disqus_thread">
  <div id="disqus_empty"></div>
</div>
<script>
  function load_disqus() {
    var is_disqus_empty = document.getElementById('disqus_empty'),
      disqus_target = document.getElementById('disqus_thread'),
      disqus_embed = document.createElement('script'),
      disqus_hook = (document.getElementsByTagName('head')[0] || document
        .getElementsByTagName('body')[0]);

    if (disqus_target && is_disqus_empty) {
      disqus_embed.type = 'text/javascript';
      disqus_embed.async = true;
      disqus_embed.src =
        '//{{ site.comments.disqus.shortname }}.disqus.com/embed.js';
      disqus_hook.appendChild(disqus_embed);
      is_disqus_empty.remove();
    }
  }

  window.addEventListener('scroll', function (e) {
    var currentScroll = document.scrollingElement.scrollTop;
    var disqus_target = document.getElementById('disqus_thread');
    var is_disqus_empty = document.getElementById('disqus_empty');

    if (is_disqus_empty && disqus_target && (currentScroll > (disqus_target
        .offsetTop - 1000))) {
      load_disqus();
    }
  }, false);

</script>

{%- endif -%}
