///
// Skin: Dark custom
// Author: Guilherme Baldini
// Email: guilhermebaldini@hotmail.com
///

// main colors
$main-color-1:     #23DCAF;
$text-color-1:     #E9EBF6;

$main-color-2:     #1A86EA;
$text-color-2:     #FFFFFF;

$main-color-3:     #2D466C;
$text-color-3:     #F8F8FD;

$main-color-4:     #121C2B;
$text-color-4:     #FFFFFF;

$main-color-theme-light: rgba(#000, .9);
$main-color-theme-dark:  rgba(#121C2B, .9);

// page background
$background-color: #1A283E;

// text colors
$text-color-theme-light-d: #23DCAF;
$text-color-theme-light:   #E9EBF6;
$text-color-theme-light-l: #1A86EA;

$text-color-theme-dark-d:  #1A86EA;
$text-color-theme-dark:    rgba(#E9EBF6, .95);
$text-color-theme-dark-l:  rgba(#E9EBF6, .85);

$text-color-d:     $text-color-theme-light-d;
$text-color:       $text-color-theme-light;
$text-color-l:     $text-color-theme-light-l;

$text-background-color: rgba(#000, .05);

// header and footer colors
$header-text-color: $text-color-3;
$header-background: $main-color-3;

$footer-text-color: $text-color-4;
$footer-background: $main-color-4;

// border and shadow colors
$border-color:     mix(#000, $background-color, 20%);
$border-color-l:   mix(#000, $background-color, 10%);
$decorate-color:   rgba(#000, .1);
$mask-color:       rgba(#000, .9);
$select-color:     rgba($main-color-1, .5);

// function colors
$green:           #52c41a;
$blue:            #1890ff;
$yellow:          #fa8c16;
$red:             #f5222d;
$text-color-function: #fff;

// logo colors
$mail-color:       #23DCAF;
$facebook-color:   #23DCAF;
$twitter-color:    #23DCAF;
$weibo-color:      #23DCAF;
$google-plus-color:#23DCAF;
$telegram-color:   #23DCAF;
$medium-color:     #23DCAF;
$zhihu-color:      #23DCAF;
$douban-color:     #23DCAF;
$linkedin-color:   #23DCAF;
$github-color:     #23DCAF;
$npm-color:        #23DCAF;

// highlight colors
@import "skins/highlight/tomorrow";
